<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<meta charset="UTF-8">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded"	th:fragment="header">
		<a class="navbar-brand"><i class="fa fa-university"></i>MSTS</a>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a  th:href="@{generalMemberEntry}"
				class="nav-link "><i class="fa fa-home"></i> Home </a></li>
			<li class="nav-item"><a  
				th:href="@{tasks}" class="nav-link "><i class="fas fa-tasks"></i>Tasks</a></li>
			<li class="nav-item"><a th:href="@{/logout}"
				class="btn btn-outline-dark "><i class="fa fa-sign-out"></i>Logout </a></li>
		</ul>
	</nav>
</body>
</html>