<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
<link rel="icon" type="image/png" href="/img/flavicon.png" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>PhD Student Details</title>
</head>
<body>
	<div th:replace="fragments/SecreteryHeader :: header"></div>
	<div class="alert alert-success alert-dismissible fade show"
		th:if="${addTask eq 'success'}">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<i class="fa fa-check-circle"></i><strong>Task points
			registered Successfully </strong>
	</div>
	<div class="container">
		<br> <br>
		<div class="row">
			<div class="col-sm-7">
				<div th:if= "${task != null}" class="card mb-3">
					<div class="card-header">Task</div>
					<div class="card-body">
						<form method="post" th:object="${task}"
							th:action="@{'/secretery/getPhDStudent/RegisterPoints/'+${phd.id}}">
							<div class="row">
								<div class="col-sm-4">
									<h6 class="mb-0">Task Status</h6>
								</div>
								<select class="col-sm-8 text-secondary" th:field="*{status}">
									<option
										th:each="statusOpt : ${T(ergasia.katanemhmena.system.enums.Status).values()}"
										th:value="${statusOpt}" th:text="${statusOpt}" id="status"
										th:field="*{status}"></option>
								</select>

							</div>
							<hr>
							<div class="row">
								<div class="col-sm-4">
									<h6 class="mb-0">Teach lab Points Remaining</h6>
								</div>
								<input class="col-sm-8 text-secondary" th:field="*{teach_lab}" id="teach_lab_points"
									type="number">
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-4">
									<h6 class="mb-0">Grading Points Remaining</h6>
								</div>
								<input class="col-sm-8 text-secondary" th:field="*{grading}" id="grading_points"
									type="number">
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-4">
									<h6 class="mb-0">Surveillance Points Remaining</h6>
								</div>
								<input class="col-sm-8 text-secondary"
									th:field="*{surveillance}" id="surveillance_points" type="number">
							</div>
							<hr>

							<input type="hidden" th:field="*{id}" />
							<div class="d-flex justify-content-between">
								<div>
							<input
								class="btn btn-success" type="submit" value="Validate Task">
							</div>
							<div>
							<input class="btn btn-success" type="button" value="Calculate points" onclick="calculatePoints()" >
							</div>
							</div>
						</form>
							</div>

					</div>
				</div>

			<div class="col-sm-5">
				<div class="card mb-3">
					<div class="card-header">PhD Student Work</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Teach Lab hours</h6>
							</div>
							<div class="col-sm-8 text-secondary" th:attr="data-value=${phd.teach_lab_hours}"
							th:text="${phd.teach_lab_hours}" data-value="1" id="teach_lab_hours"> </div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Grading</h6>
							</div>
							<div class="col-sm-8 text-secondary" th:text="${phd.xp_per_task}" th:attr="data-value=${phd.xp_per_task}"  id="grading"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Surveillance Hours</h6>
							</div>
							<div class="col-sm-8 text-secondary"
							th:text="${phd.surveillance_hours}" th:attr="data-value=${phd.surveillance_hours}"  id="surveillance_hours"></div>
						</div>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function calculatePoints() {
			var teach_lab_points=document.getElementById("teach_lab_points").value;
			var grading_points=document.getElementById("grading_points").value;
			var surveillance_points=document.getElementById("surveillance_points").value;
			var teach_lab_hours=document.getElementById("teach_lab_hours").getAttribute('data-value');
			var grading=document.getElementById("grading").getAttribute('data-value');
			var surveillance_hours=document.getElementById("surveillance_hours").getAttribute('data-value');
			console.log(teach_lab_hours)
			document.getElementById("teach_lab_points").value=teach_lab_points-teach_lab_hours;
			document.getElementById("grading_points").value=grading_points-(grading/5);
			document.getElementById("surveillance_points").value=surveillance_points-surveillance_hours;

		}

	</script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>