<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"></link>
<link rel="icon" type="image/png" href="/img/flavicon.png" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Supervisor Details</title>
</head>
<body>
	<div th:replace="fragments/SecreteryHeader :: header"></div>
	<div class="alert alert-success alert-dismissible fade show"
		th:if="${addPhd eq 'success'}">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<i class="fa fa-check-circle"></i><strong>PhD Student registered
			Successfully </strong>
	</div>
	<div class="container">
		<br> <br>
		<div class="row">
			<div class="col-sm-4">
				<div class="card mb-3">
				<div class="card-header">
					Supervisor
					</div>
					<div class="card-body">
					
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Full Name</h6>
							</div>
							<div class="col-sm-8 text-secondary"
								th:text="${supervisor.full_name}"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Email</h6>
							</div>
							<div class="col-sm-8 text-secondary"
								th:text="${supervisor.email}"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Username</h6>
							</div>
							<div class="col-sm-8 text-secondary"
								th:text="${supervisor.username}"></div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">Phone</h6>
							</div>
							<div class="col-sm-8 text-secondary"
								th:text="${supervisor.phone}"></div>
						</div>
						<hr>
						
						<div class="row">
							<div class="col-sm-4">
								<h6 class="mb-0">PhD Student</h6>
							</div>
							<div class="col-sm-8 text-secondary"
								th:text="${supervisor.phdStudent?.full_name}"></div>
						</div>
						<hr>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
			<h3>Select a PhD Student for this Supervisor</h3>
				<table id="example" class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th class="th-sm" scope="col">Username</th>
							<th class="th-sm" scope="col">Email</th>
							<th class="th-sm" scope="col">Fullname</th>
							<th class="th-sm" scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="phd : ${phDStudents}">
							<tr>
								<td th:text="${phd.username}">" "</td>
								<td th:text="${phd.email}">" "</td>
								<td th:text="${phd.full_name}">" "</td>
								<td>
									<form method="POST" th:action="@{'/secretery/addPhD/'+${supervisor.id}}">
										<input type="hidden" name="id" id="phdId" th:value="${phd.id}" />
										<button type="submit" name="submit" value="value"
											class="btn btn-danger">Select</button>
									</form>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>


			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#example').DataTable();
		});
	</script>
</body>
</html>
